id: 2, type: coach, reserved 2/2, at: 35, 12
id: 0, type: first class, reserved 1/1, at: 4
id: 1, type: coach, reserved 2/2, at: 31, 21
id: 5, type: coach, reserved 2/2, at: 27, 18
id: 8, type: coach, reserved 1/1, at: 28
id: 4, type: coach, reserved 1/1, at: 30
id: 7, type: coach, reserved 2/2, at: 19, 11
id: 9, type: coach, reserved 2/2, at: 20, 14
id: 6, type: coach, reserved 1/1, at: 24
id: 3, type: first class, reserved 1/1, at: 2
